

<div class="article">
    <div class="articleHead">
        <a href="/user/<%=article.userId%>">
            <div class="articleAuthor">
                <div class="articleAuthorPic">
                    <div class="img" style="background-image: url('<%=article.profilPic%>')"></div>
                </div>
                <span class="articleAuthorName"><%=article.username%></span>
            </div>
        </a>
        <h3><a href="/article/<%=article.id%>"><%=article.title%></a></h3>
        <div class="articleHeadContainerRight">
            <div class="containerButtonsModify">
                <%if(article.userId == client.userId || client.admin != 0){%>

                <div id="articleButtonModify<%=article.id%>" class="articlePut buttonModify button" onclick="toggleFormModify(<%=article.id%>, 'article')">
                    <div class="img imgPut"></div>
                </div>

                    <form class="articleDel buttonModify button" method="post" action="/posts">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_table" value="article">
                        <input type="hidden" name="_id" value="<%=article.id%>">
                        <input type="hidden" name="_owner" value="<%=article.userId%>">
                        <input class="img imgDel" type="submit" value="">
                    </form>

                <%}%>
            </div>
            <span class="articleDate"><%=moment(article.date_publish).format("H[h]mm[ le ]D/M");%></span>
        </div>

    </div>

    <div class="articleContainer">
        <div id="articleContent<%=article.id%>" class="articleContent">
            <%=article.content%>
        </div>
        <form id="articleFormModify<%=article.id%>" class="formModifyArticle" method="post" action="/posts">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="_table" value="article">
            <input type="hidden" name="_id" value="<%=article.id%>">
            <input type="hidden" name="_owner" value="<%=article.userId%>">
            <input title="title" type="text" name="titleModify" value="<%=article.title%>">
            <textarea id="textareaModify<%=article.id%>" name="contentModify"><%=article.content%></textarea>
            <input type="submit" value="OK">
        </form>
    </div>

    <div class="articleFoot">
        <div class="articleNext">...</div>
        <div class="articleButton button"></div>
        <div class="articleComments">

            <%article.comments.forEach(function(comment){%>
            <%- include comment%>
            <%})%>

            <%- include responseComment%>

        </div>
    </div>
</div>

