

<div class="article">
    <div class="articleHead">
        <a href="/user/<%=article.userId%>">
            <div class="articleAuthor">
                <div class="articleAuthorPic">
                    <div class="img" style="background-image: url('<%=article.profilPic%>')"></div>
                </div>
                <span class="articleAuthorName"><%=article.username%></span>
            </div>
        </a>
        <h3><a href="/article/<%=article.id%>"><%=article.title%></a></h3>
        <div class="articleHeadContainerRight">
            <div class="containerButtonsModify">
                <%if(article.userId == client.userId || client.admin != 0){%>

                    <form class="articlePut buttonModify button" method="post" action="/put">
                        <input class="img imgPut" type="submit" value="">
                    </form>

                    <form class="articleDel buttonModify button" method="post" action="/posts">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_table" value="article">
                        <input type="hidden" name="_id" value="<%=article.id%>">
                        <input type="hidden" name="_owner" value="<%=article.userId%>">
                        <input class="img imgDel" type="submit" value="">
                    </form>

                <%}%>
            </div>
            <span class="articleDate"><%=moment(article.date_publish).format("H[h]mm[ le ]D/M");%></span>
        </div>

    </div>

    <div class="articleContainer">
        <div class="articleContent">
            <%=article.content%>
        </div>
    </div>

    <div class="articleFoot">
        <div class="articleNext">...</div>
        <div class="articleButton button"></div>
        <div class="articleComments">

            <%article.comments.forEach(function(comment){%>
            <%- include comment%>
            <%})%>

            <%- include responseComment%>

        </div>
    </div>
</div>

